@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #D5E1EF;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;    /* Alinha o conteúdo verticalmente */
  width: 320px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center; 
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-text {
  font-size: 16px;
  margin: 20px 0;
  background-color: inherit;
}
